@import url("./zeroing.css");
body {
  padding: 30px;
}

.about__title {
  margin: 0px 0px 30px 0px;
}
.title {
  font-size: 56px;
  font-family: "Myriad Pro";
  color: black;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.title:after {
  content:'';
  background-color: black;
  position: absolute;
  left: 920px;
  top: 1329px;
  width: 81px;
  height: 1px;
}